<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
            <h2 class="oe_slogan" class="text-center" style="font-size:35px; color:#875A7B; font-weight:700; text-transform:uppercase; text-align:left; margin:0; margin-bottom:16px">Metodo de envio de paqueteria por Envioclick en Odoo</h2>
			<h3 class="oe_slogan" style="color:#875A7B; font-size:30px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Shipping method by Envioclick provider</h3>
            <h4 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Vision General</h4>
            <p class="text-center">
                Esta aplicacion nos permite realizar envios de productos utilizando el proveedor de <i>Envioclick</i>. Envioclick cuenta con una plataforma de generacion y gestion masiva de envios con diversos proveedores de paqueteria. En esta aplicacion se hace uso de su API en su version 1.0 (https://api.envioclickpro.com/) para generar guias de envio y seguimiento a traves de su plataforma. Con esta aplicacion se podra:
                <ul>
                    <li type="circle">Cotizar el costo de envio de productos. Cuando la cotizacion arroja mas de un proveedor de paquereria tomara el precio mas economico.</li>
                    <li type="circle">Aceptar el envio de los productos.</li>
                    <li type="circle">Generar la guia de seguimiento.</li>
                </ul>
            </p>
        </div>
		<div class="oe_demo oe_screenshot">
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Seleccion de metodo de envio en sitio web</h2>
            <p class="text-center">
                Esta aplicacion es compatible con la seleccion del metodo de envio con el proveedor Envioclick desde el sitio web en el Ecommerce
            </p>
            <img src="envioclick_website.jpg" alt="Envioclick odoo, método de envío odoo, proveedor paquetería envioclick odoo, selección método de envio odoo, seleccion envioclick"/>
        </div>
        <div class="oe_demo oe_screenshot">
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Seleccion de metodo de envio en modulo de venta</h2>
            <p class="text-center">
                Es posible seleccionar el metodo de envio con el proveedor Envioclick desde el backend directamente en la venta
            </p>
            <img src="envioclick_modulo_venta.jpg" alt="Envioclick odoo, método de envío odoo, proveedor paquetería envioclick odoo, selección método de envio odoo, seleccion envioclick"/>
        </div>
    </div>
</section>
<section class="oe_container bg-gray-lighter">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Seleccion de proveedor de paqueteria Envioclick en Odoo</h2>
        </div>

        <!--div class="oe_span12 oe_mb32">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="https://youtu.be/UyGgtJbK6O8" target="_blank">
                    <img src="miniatura_video.png" alt="Sale stock alert video">
                </a>
            </div>
        </div-->
    </div>
</section>
<section class="oe_container bg-gray-lighter">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Condicion previa</h2>
            <p class="text-center">
                Para que esta aplicacion pueda funcionar se requiere de una API key de Envioclick. Para conseguirlo se requiere de una cuenta en la plataforma de Envioclick. Dentro del portal de envioclick nos dirigimos a la opcion 'Mi cuenta' que se encuentra en la parte derecha superior.<br> 
            </p>
            <img src="mi_cuenta_envioclick.jpg" alt="mi cuenta envioclick"/>
            <p class="text-center">
                Dentro de la seccion 'Mi cuenta' encontraremos en la parte inferior la API key que necesitamos.<br> 
            </p>
        </div>
		<div class="oe_demo oe_screenshot">
               <img src="api_key_envioclick.jpg" alt="api key envioclick"/>
        </div>
        <div>
            <p class="text-center">
                En Odoo debemos habilitar la opcion para aceptar metodos de envio, para ello abrimos la pantalla de ajustes del modulo de venta y marcamos la opcion <i>Metodos de envio</i>.<br> 
            </p>
        </div>
        <div class="oe_demo oe_screenshot">
               <img src="aceptar_envios.jpg" alt="habilitar envios en odoo, habilitar metodos de envios en odoo, metodo de envio odoo"/>
        </div>
        <div>
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Configuracion de metodo de envio de Envioclick</h2>
            <p class="text-center">
                Copiamos la API key de nuestra cuenta de Envioclick y abrimos el metodo de envio del proveedor Envioclick. Podemos accesar desde <i>Ventas/Configuracion/Ordenes de venta/Metodos de envio</i> o en <i>Sitio web/Configuracion/Comercio electronico/Metodos de envio</i>. Una vez ahi abrimos el metodo de envio Envioclick que se genero automaticamente al instalar la aplicacion y pegamos el API key de nuestra cuenta en el campo <i>API Key Authentication</i>.<br> 
            </p>
            <img src="api_key_envioclick_odoo.jpg" alt="API key authentication envioclick, api key envioclick odoo, envioclick odoo, odoo envioclick, metodo de envio con envioclick en odoo"/>
            <p class="text-center">
                Lo siguiente es configurar el entorno y publicar nuestro metodo de envio:<br> 
                <ol>
                    <li>Publicado o No publicado. Para que se pueda usar el metodo de envio debemos asegurarnos que se encuentre en <i>Publicado</i>, de lo contrario no nos aparecera para su seleccion.</li>
                    <li>Entorno. Para un entorno de demo se debe mantener en <i>Prueba</i>, de lo contrario si se trata de un ambiente real debemos mantenerlo en <i>Produccion</i></li>
                </ol>
            </p>
            <img src="estatus_envioclick.jpg" alt="Estatus método de envío odoo, entorno método de envío odoo,"/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Modo de uso en modulo de venta</h2>
            <p class="text-center">
                Una vez creada la cotización en el modulo de ventas podremos oprimir el boton <i>Agregar un envio</i><br>
            </p>
        </div>
		<div class="oe_demo oe_screenshot">
            <img src="agregar_envioclick_ventas.jpg" alt="Agregar un envío odoo, agregar método de envío odoo, envío odoo"/>
        </div>
        <div class="oe_picture" style="max-height: initial;">
            <p class="text-center">
                Se nos mostrara una ventana emergente donde podremos:
                <ol>
                    <li>Seleccionar metodo de envio con el proveedor Envioclick.</li>
                    <li>Obtener o actualizar el costo de envio utilizando el proveedor Envioclick.</li>
                </ol>
            </p>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="seleccion_envioclick_ventas.jpg" alt="seleccionar metodo envioclick odoo, estimar costo envioclick odoo"/>
        </div>
    </div>
</section>
<section class="oe_container bg-gray-lighter">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
			<h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Modo de uso en Sitio web con E-commerce</h2>
            <p class="text-center">Cuando el usuario del Ecommerce seleccione sus productos y proceda al pago se le desglosara los proveedores de envio disponibles y publicados en el sistema.<br>
            </p>
		</div>
        <div class="oe_demo oe_screenshot">
            <img src="envioclick_website.jpg" alt="seleccionar metodo envioclick odoo, estimar costo envioclick odoo, seleccion envio en Ecommerce odoo"/>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
            <h2 class="oe_slogan" style="color:#875A7B; font-size:25px; margin-bottom:30px; font-family:'Cabin', sans-serif; font-weight:400; line-height:1.2">Generacion de guia de seguimiento con Envioclick</h2>
            <p class="text-center">
                Una vez confirmada la compra se generara una orden de entrega ligada a la venta. Cuando la orden de entrega se valide y se encuentre en estatus <i>Hecho</i> se generara el numero de seguimiento y la guia con el proveedor de Envioclick.
                <ol>
                    <li>Guia de seguimiento generado por Envioclick.</li>
                    <li>Numero de seguimiento. Es posible cancelarlo</li>
                </ol>
            </p>
        </div>
        <div class="oe_demo oe_screenshot">
            <img src="guia_envioclick.jpg" alt="guia de envioclick odoo, guia de seguimiento envioclick odoo, guia envioclick odoo"/>
        </div>
        <div>
            <p>
                Es importante tomar en consideracion que el cliente requiere tener cierta informacion ya que estos datos son solicitados en la API de Envioclick. Los datos requeridos del cliente son:
                <ul>
                    <li>Calle</li>
                    <li>Numero</li>
                    <li>Colonia</li>
                    <li>Ciudad</li>
                    <li>Codigo postal</li>
                    <li>Pais</li>
                    <li>Ciudad</li>
                    <li>Numero Telefono o celular</li>
                    <li>Correo electronico</li>
                </ul>
            </p>
        </div>
    </div>
</section>

<section class="oe_container" style="padding: 0% 0% 6% 0%;">
    <center>
        <div class="col-md-12" style="margin: auto !important;
         width: 70%;
         padding: 30px;">
            <h2 style="font-weight: 600;text-align: center;width: 100%;">Necesita ayuda?</h2>
            <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #d21c22;width: 5%;">
            <h4 style="font-size:16px;"> Si tiene algo que compartirnos con respecto a este modulo, por favor permitenos saber. Estamos listos para ofrecerte nuestro apoyo. </h4>
            <div class="col-md-6" style="float:left; padding:20px;">
                <h4><i class="fa fa-envelope"></i>Envianos un correo electronico </h4>
                <p>contacto@tohsoluciones.com</p>
            </div>
            <div class="col-md-6" style="float:left; padding:20px;">
                <h4><i class="fa fa-globe"></i> Visitanos en </h4>
                <a href="https://www.tohsoluciones.com/" target="_blank"> www.tohsoluciones.com</a>
            </div>
        </div>
    </center>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_picture" style="max-height: initial;">
			<p><br/></p>
            <h2 class="oe_slogan" class="text-center" style="font-size:35px; color:#875A7B; font-weight:700; text-transform:uppercase; text-align:left; margin:0; margin-bottom:16px">
                <img src="https://tohsoluciones.com/wp-content/uploads/2020/05/96034034_260553645262362_8263055454419025920_n-e1588631562850.png"> TOH SOLUCIONES DIGITALES
            </h2>
            <p class="text-center">
                En Toh Soluciones Digitales tenemos una amplia experiencia en la implementacion de aplicaciones basadas en Odoo. 
				Somos expertos implementando Odoo y por ello podemos ofrecerle la solucion que mejor se adapte a sus necesidades. 
				Le ayudamos a tener un control completo de los procesos de administracion, ventas, compras, inventarios y mas. 
				Analizamos la version de Odoo adecuada a sus procesos de negocio con tropicalizacion latinoamericana y Mexicana.
            </p>
            <div class="oe_slogan" style="margin: 10px 0 0 0;">
                <a class="btn btn-lg mt8 oe_purple" href="https://tohsoluciones.com/contacto/">
                    <i class="fa fa-phone" style="margin-right: 6px;"></i>Contactanos</a>
            </div>
        </div>
    </div>
</section>
